<devices>
  <deviceDescription>
    <id>lightDevice</id>
    <effectType>LightType</effectType>
    <minIntensity>0</minIntensity>
    <maxIntensity>5</maxIntensity>
    <locator>center:middle:left</locator>
    <unit>lumens</unit>
    <numOfLevels>4</numOfLevels>
    <ipAddress>192.168.2.106</ipAddress>
    <supportedValues>
      <value>Yellow</value>
    </supportedValues>
    <preparationTime>
      <start>1</start>
      <stop>0</stop>
    </preparationTime>
  </deviceDescription>
  <deviceDescription>
    <id>moodoDevice</id>
    <effectType>ScentType</effectType>
    <minIntensity>0</minIntensity>
    <maxIntensity>5</maxIntensity>
    <locator>center:middle:left</locator>
    <unit>ml</unit>
    <numOfLevels>4</numOfLevels>
    <supportedValues>
      <value>Sea</value>
      <value>Coconuts</value>
      <value>Amber Marine</value>
      <value>Sweet</value>
    </supportedValues>
    <preparationTime>
      <start>13</start>
      <stop>4</stop>
    </preparationTime>
    <login>ginganclvozteste@gmail.com</login>
    <password>ginga123</password>
  </deviceDescription>
  <deviceDescription>
    <id>SimulatorDevice</id>
    <effectType>SimulationType</effectType>
    <minIntensity>0</minIntensity>
    <maxIntensity>5</maxIntensity>
    <locator>center:middle:left</locator>
    <unit>lumens</unit>
    <numOfLevels>4</numOfLevels>
    <ipAddress>192.168.2.106</ipAddress>
    <supportedValues>
      <value>Yellow</value>
    </supportedValues>
    <preparationTime>
      <start>1</start>
      <stop>0</stop>
    </preparationTime>
  </deviceDescription>
</devices>
